.navbar{
    color: white;
}
/* .categorias{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px;
    list-style: none;
}
li{
    cursor: pointer;
}
li:hover {
    color: white;
} */ 